extends ../layouts/default

mixin post(post)
	.article.article-display.article--unread(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		.article-header
			h3.article-title #{post.title}
			if post.author
				h4.article-subline.article--author
				| #{post.author.name.first}
				| #{post.author.name.last}
		.article-body
			if post.image.exists
				img(src=post._.image.fit(160,160)).article-img.img-responsive.pull-right
			p.paragraph.paragraph-lead.paragraph--content
				!= post.content.brief
			p.paragraph.paragraph-default.paragraph--content
				!= post.content.extended
		.article-footer
			p.article-meta Posted
				if post.publishedDate
					| on #{post._.publishedDate.format('MMMM Do, YYYY')}
				if post.categories && post.categories.length
					| in
					each cat, i in post.categories
						a.label.label-info(href='/blog/' + cat.key)= cat.name
				if post.image.exists
					img(src=post._.image.fit(160,160)).img.pull-right
			ul.icon-group.icon-group--rating.icon-group--archive
				if user
					li.icon-group-item
						a.icon-group-link.icon-group-link--icon(href='#collection/' + post.id)
							img(src='/images/icon-favorite.svg', width='32')
						a.icon-group-link.icon-group-link--text(href='#collection/' + post.id) Add to Collection
				li.icon-group-item
					a.icon-group-link.icon-group-link--icon(href='#recommend/'+ post.id)
						img(src='/images/icon-heart.svg', width='32')
					a.icon-group-link.icon-group-link--text(href='#recommend/'+ post.id) Recommend to a friend

block intro
	.container
		h1= data.category ? data.category.name : 'Blog'

block reading
	span Aktueller Beitrag

block content
	if filters.category && !data.category
		h3.text-muted Invalid Category.
	else
		if data.posts.results.length
			if data.posts.totalPages > 1
				h4.text-weight-normal Showing
					strong #{data.posts.first}
					|  to
					strong #{data.posts.last}
					|  of
					strong #{data.posts.total}
					|  posts.
			else
				h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
			.blog
				each post in data.posts.results
					.section.section-default.section--article
						.container
							.row
								.col-xs-12
									+post(post)

			if data.posts.totalPages > 1
				ul.pagination
					if data.posts.previous
						li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
					each p, i in data.posts.pages
						li(class=data.posts.currentPage == p ? 'active' : null)
							a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
					if data.posts.next
						li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
					else
						li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
		else
			if data.category
				h3.text-muted There are no posts in the category #{data.category.name}.
			else
				h3.text-muted There are no posts yet.

block categories
	if data.categories.length
		h4 Categories
		.list-group(style='margin-top: 70px;')
			a(href='/blog', class=!data.category ? 'active' : false).list-group-item All Categories
			each cat in data.categories
				a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
